.dropdown-menu-collapse {
  width: 100vw;
  position: absolute;
  left: 0;
}

.learner-variant-header {
  &.pl-4 {
    justify-content: space-between;
    padding:0;
  }
  background: url('https://hanlunls.com/images/bg_header200.jpg');
  padding:1em 0;
  a {
    // needed to make the link not resize the header
    border-bottom: 2px solid transparent;
    img {
      width:60%;
    }
  }
  .course-link {
    border-bottom: 2px solid !important;
  }

  .course-link:hover {
    border-bottom: inherit !important;
  }
  .btn {
    border-radius:0;
  }
}

.nav-small-menu {
  > * {
    justify-content: flex-start !important;

    border-radius: 0 !important;
    border-top: 1px solid #ddd !important;

    &::after {
      content: '\00BB';
      padding-left: 10px;
    }
  }
}

.logo {
  // copy from legacy dashboard
  height: 40px;
}
