.dropdown-menu-collapse {
  width: 100vw;
  position: absolute;
  left: 0;
}

.learner-variant-header {
  display:grid; grid-template-columns:1fr auto 1fr;
  background: url('https://hanlunls.com/images/bg_header200.jpg');
  padding:1em 0;

  &.pl-4 {
    padding:0 !important;
  }

  &.pl-4 a {
    grid-column:2;
  }
  a {
    // needed to make the link not resize the header
    border-bottom: 2px solid transparent;
    text-align:center; color:white;
    font-size:2em; font-weight:bold;
    img {
      width:60%;
    }
  }
  .btn-icon {
    margin-right:auto;
  }
  .course-link {
    border-bottom: 2px solid !important;
  }

  .course-link:hover {
    border-bottom: inherit !important;
  }
  .btn {
    border-radius:0;
  }
  .dropdown {
    justify-self:end;

    button {
      color:white;
      background:transparent;
      border:none;
    }
  }
}

.nav-small-menu {
  > * {
    justify-content: flex-start !important;

    border-radius: 0 !important;
    border-top: 1px solid #ddd !important;

    &::after {
      content: '\00BB';
      padding-left: 10px;
    }
  }
}

.logo {
  // copy from legacy dashboard
  height: 40px;
}
